body{
    background: rgb(255, 255, 255);
    font-family: nexa, arial, sans-serif;
}
g text {
    font-family: nexa, arial, sans-serif !important;
}
image#dianomi_poll_Axis_0_Pointer_Marker_0{
    x: 228px;
}
.poll-question {
    font-size: 14px;
}
.partner-logo img {
    width: 40%;
    margin-left: 5px;
    max-width: 30%;
}